main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  backdrop-filter: blur(4px);
}

.main-random-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  max-width: 300px;
  padding: 10px;
}

