article.card {
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: #fff;
}
.tag {
  text-align: center;
  position: absolute;
  right: -35px;
  top: 18px;
  padding: 15px;
  width: 100px;
  background: yellow;
  font-weight: 500;
  font-family: "Hind", sans-serif;
}

article.card img {
  flex-basis: 35%;
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 30px;
  flex-basis: 75%;
  line-height: 2.4rem;
}

.card-body ul {
  list-style: none;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.card-body .button-container {
  display: flex;
  justify-content: space-between;
}
.card-body button {
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: #5de6de;
	background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
	border: none;
	border-radius: 50%;
	transition: 200ms;
}

.card-body button svg {
	fill: white;
	width: 30px;
	height: 30px;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

.card-body button:before {
	content: 'Back to Top';
	position: absolute;
	transform: translateX(-50%) translateY(45px);
	font-size: 15px;
	transition: 200ms;
	color: transparent;
	font-weight: bold;
}

.card-body button:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	width: 80px;
	height: 80px;
}

.card-body button:hover::before {
	color: #fff;
}

.card-body button:hover svg {
		animation: bounce 2s infinite linear;
}

@keyframes bounce {
	0% {transform: translateX(-50%) translateY(-50%)}
	25% {transform: translateX(-50%) translateY(-65%)}
	50% {transform: translateX(-50%) translateY(-50%)}
	75% {transform: translateX(-50%) translateY(-35%)}
	100% {transform: translateX(-50%) translateY(-50%)}
}

.card-body button:focus {
	outline: none;
}
